.info{background:#FFF;margin-top:13px;padding:35px;box-shadow: 0px 1px 5px #dedede;}
.info .left{width:280px}
.info .left .img{width:100%;height:200px;overflow:hidden;background:url("../img/imgbg.png") no-repeat center center;background-size:100% 100%}
.info .left .img img{display:block;width:100%;min-height:100%}
.info .right{width:calc(100% - 330px)}
.info .right .web-title{font-size:23px;color:#333;height:30px;line-height:30px;margin-top:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.info .right .web-title em{font-style:normal;color:#20c4ab}
.info .right .web-title a {position: absolute;right: 17%;top: 6%;height: 40px;line-height: 40px;font-size: 15px;color: #b5b5b5;}
.info .right .web-title a i {font-size: 30px;display: block;height: 40px;line-height: 40px;color: #20c4ab;}
.info .right ul{margin-top:40px}
.info .right ul li{width:33.3333%;float:left;margin-bottom:25px;padding-right:20px}
.info .right ul li:nth-last-child(1),.info .right ul li:nth-last-child(2),.info .right ul li:nth-last-child(3){margin-bottom:0}
.info .right ul li:nth-child(3n){padding-right:0}
.info .right ul li span{float:left;height:40px;line-height:40px;font-size:15px;color:#a0a0a0;width:77px;overflow:hidden}
.info .right ul li a{max-width:calc(100% - 10px - 77px);float:left;height:40px;line-height:40px;font-size:15px;color:#333!important;margin-left:10px;position:relative;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.info .right ul li a .star{vertical-align:middle;margin-top:-3.5px;height:20px}
.info .right ul li a .pr{vertical-align:middle;margin-top:-3.5px;height:22px}
.href{display:block;width:100%;height:45px;line-height:45px;border:1px solid #20c4ab;background:#20c4ab;color:#FFF;margin-top:25px;text-align:center;font-size:14px;border-radius:2px;transition:.2s all}
.href:hover{background:#26bda6;color:#FFF;border:1px solid #26bda6}
.aboutthis{margin-top:20px;background:0;color:#20c4ab}
.aboutthis:hover{color:#20c4ab;background:#f5fffe}
.other{background:#FFF;margin-top:13px;padding:26px 35px;box-shadow: 0px 1px 5px #dedede;}
.other .introduce{line-height:33px;font-size:15px;color:#909090;margin-top:10px;margin-bottom:20px}
.lists{background:#FFF;margin-top:13px;box-shadow: 0px 1px 5px #dedede;}
.lists ul li{background:#FFF;float:left;width:25%;border-right:1px solid #f6f6f6;border-top:1px solid #f6f6f6;padding:40px 20px;height:221px;overflow:hidden}
.lists ul li:hover{background:#fdfdfd}
.lists ul li:nth-child(4n){border-right:0}
.lists ul li:nth-child(1),.lists ul li:nth-child(2),.lists ul li:nth-child(3),.lists ul li:nth-child(4){border-top:0}
.lists ul li a{display:block}
.lists ul li a .img{width:100%;height:80px;overflow:hidden}
.lists ul li a .img img{display:block;margin:0 auto;max-height:100%;max-width:200px}
.lists ul li a .introduce{color:#b3b3b3;font-size:14px;line-height:23px;height:46px;padding:0 5%;margin-top:15px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
#sentiment{height:280px;width:100%;margin-bottom:20px;position:relative;overflow:hidden}
.x-c-t-tooltip{padding:0;margin:0;width:200px}
.x-c-t-tooltip dt{background-color:#20c4ab;padding:5px 10px;color:#fff;font-size:12px;margin-bottom:0;font-weight:normal}
.x-c-t-tooltip dd{padding:5px 10px;color:#666;max-height:200px;overflow:auto}
.x-c-t-tooltip dd >div{margin:0 -10px;padding:0 10px;min-width:100px;overflow:hidden;font-size:12px}
.x-c-t-tooltip dd strong{color:#20c4ab;font-weight:normal}